---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++{{ cpp_std }}
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseInsensitive
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^"({{ name }})/'
    Priority: 1
  - Regex:    '^<.*\.h>'
    Priority: 2
  - Regex:    '^<.*>'
    Priority: 3
  - Regex:    '.*'
    Priority: 4
