#include "{{ name }}/{{ name }}.hpp"

#include <string>

namespace {{ namespace }} {

std::string version() {
    return "0.1.0";
}

std::string greet(std::string_view who) {
    std::string out{"Hello, "};
    out.append(who);
    out.push_back('!');
    return out;
}

}  // namespace {{ namespace }}
